.accordion {
	margin: 0;
	> li {
		&.is-active {
			.accordion-title {
				color: rgba($base-body-font-color, $B-text);
				background-color: $white;
				border: none !important;
			}
		}
		&:last-child {
			&.is-active {
				> .accordion-title {
					border: none !important;
				}
			}
			> .accordion-content {
				border: none;
				border: none !important;

			}
		}
	}
}

.accordion-title {
	padding: 1rem;
	font-size: 1.125rem;
	line-height: 1.5em;
	color: rgba($base-body-font-color, $B-subtext);
	&:hover, &:link, &:visited, &:active {
		color: rgba($base-body-font-color, $B-subtext);
		// background-color: rgba($medium-gray, $B-dividers);
		background-color: $c-green;
	}

}

// .accordion-content {
// 	padding: 1rem;
// 	border: none !important;
// }

// :last-child > .accordion-content:last-child{
// 	border: none !important;

// }

// .accordion-title{
// 	border-bottom: none !important;
// }

:last-child:not(.is-active) > .accordion-title{
	border-bottom: none !important;
	background-color #323232;
}