.accordion {
	@extend .box-shadow;
	margin: 0;
	@extend .mb-1;
	> li {
		&.is-active {
			.accordion-title {
				@extend .green-text;
				border: none !important;
				
				// &:hover, &:active, &:link{
				// 	@extend .green, .lighten-4;
				// }
			}
		}
		&:last-child {
			&.is-active {
				> .accordion-title {
					border: none !important;
				}
			}
			> .accordion-content {
				border: none;
				border: none !important;

			}
		}
	}
}

.accordion-title {
	@extend .padding-1;
	font-size: 1.125rem;
	line-height: 1.5em;
	color: $c-greylight;

}

:last-child:not(.is-active) > .accordion-title{
	border-bottom: none !important;
	background-color: $white;
}