.menu-organizer1{
	a,p,h1,h2,h3,h4,h5,h6 {
		@extend .txt-color-white;
		@extend .txt-d9;
	}
	p{ margin:0 !important; }

	a.link1{
		@extend .txt-d8;
		font-size: .8rem;
		color: #94CD96 !important;
		@extend .mb-2;
	}
	div.title{
		@extend .ml-1;
		@extend .mt-1;
		@extend .mb-1;
		@extend .txt-color-alpha50;
		font-weight: bold;
		font-size: .9rem;
	}
	

	ul li{
		margin-bottom: .5rem;

		a { 
			font-size: .9rem;
			i {
				font-size: .9rem;
				color: $c-alpha50;
				@extend .mr-half;
			}

		}

	}
}



